

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h2{
    font-weight: 700;
}
.wrapper {
    width:100%;
    text-align:center;
    position:relative;
  }